/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('s2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160vh;
    margin: 0;
}

/* Form Container */
.form-container {
    background: rgba(0,0,0,0.8);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width:600px; /* Adjusted width for better fit */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Hide overflow to ensure proper alignment */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form Title */
h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff; /* Ensure label text is readable */
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: calc(100% - 22px); /* Adjust width to account for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
}

/* Submit Button */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
